# NET2008 – DevOps – Fall 2022 - Lab 3

## Enter Your Name Here

In [ ]:
# Prep Task TODO

## Strings

### Task 1
Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [5]:
s = 'hello'
# Print out 'e' using indexing
# TODO

print(s[1])

e

### Task 2
Reverse the string 'hello' using slicing:

In [4]:
s ='hello'
# Reverse the string using slicing
# TODO

print(s[::-1])

olleh

### Task 3
Given the string hello, give two methods of producing the letter 'o' using indexing.

In [6]:
s ='hello'
# Print out the 'o'

# TODO
# Method 1:

print(s[4])

o

In [7]:
# TODO
# Method 2:

print(s[-1])

o

## Lists

### Task 4
Build this list [0,0,0] two separate ways.

In [23]:
# TODO
# Method 1:

list = [0,0,0]
list

[0, 0, 0]

In [22]:
# TODO
# Method 2:

list = [0]
list = list + [0]+ [0]
list

[0, 0, 0]

### Task 5
Replace 'hello' in this nested list with the value 'goodbye' instead:

In [31]:
list3 = [1,2,[3,4,'hello']]
# TODO

list3 = [1, 2],[3, 4],['goodbye']
list3

([1, 2], [3, 4], ['goodbye'])

### Task 6
Sort the list below:

In [24]:
list4 = [5,3,4,6,1]

# TODO
# Method 1:

list4.sort()
list4

[1, 3, 4, 5, 6]

## Dictionaries

### Task 7
Using keys and indexing, grab the 'version_1' from the following dictionaries:

In [48]:
d = {'simple_key':'version_1'}

# TODO

d['simple_key']

'version_1'

In [45]:
d = {'k1':{'k2':'version_1'}}

# TODO
d['k1']['k2']

'version_1'

In [88]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['version_1']]}]}
d['k1'][0]['nest_key'][1][0]

'version_1'

In [89]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['version_1']]}]}]}
d['k1'][2]['k2'][1]['tough'][2][0]

'version_1'

## Sets

### Task 8
Use a set to find the unique values of the list below:

In [99]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]

# TODO

## Booleans

What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)

In [90]:
# Answer before running cell
#False
2 > 3

False

In [91]:
# Answer before running cell
#False
3 <= 2

False

In [92]:
# Answer before running cell
#False
3 == 2.0

False

In [93]:
# Answer before running cell
#True
3.0 == 3

True

In [94]:
# Answer before running cell
#False
4**0.5 != 2

False

### Task 9
What is the boolean output of the cell block below?

In [95]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False?
l_one[2][0] >= l_two[2]['k1']
#3>4?
#False

False

## Statements

### Task 10
Use <code>for</code>, .split(), and <code>if</code> to create a Statement that will print out words that start with 's':

In [ ]:
st = 'Print only the words that start with s in this sentence'

In [ ]:
#Code here

### Task 11
Use range() to print all the even numbers from 0 to 10.

In [112]:
#Code Here

for i in range(0, 11):
    if i % 2 == 0:
        print(i)

0
2
4
6
8
10

### Task 12
Use a List Comprehension to create a list of all numbers between 1 and 50 that are divisible by 3.

In [116]:
#Code Here

mulof3 = [ i for i in range(1, 50) if not i%3 ]
mulof3

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

### Task 13
Go through the string below and if the length of a word is even print "even!"

In [ ]:
st = 'Print every word in this sentence that has an even number of letters'

In [ ]:
#Code Here

### Task 14
Write a program that prints the integers from 1 to 100. But for multiples of three print "Fizz" instead of the number, and for the multiples of five print "Buzz". For numbers which are multiples of both three and five print "FizzBuzz".

In [ ]:
#Code Here